# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^(.*\/migrations\/.*|.*\/tests\/.*|(^|\/)test_.*\.py$|(^|\/).*_test\.py$)$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
        exclude: .*\/migrate.ya?ml | *gitlab-ci.ya?ml
      - id: check-added-large-files
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.9.8
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.11.3
          # https://stackoverflow.com/questions/75207414/how-to-properly-type-check-alembic-with-mypy
          - alembic==1.15.1
          - types-python-dateutil==2.9.0.20250822
          - types-pytz
        language_version: python3.12
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.0
    hooks:
      - id: gitleaks
        entry: gitleaks protect --verbose --redact
        pass_filenames: true
        exclude: ^.*\.yaml$
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.3
    hooks:
      - id: uv-lock
