version: "3.8"

x-service-base: &base
  build:
    context: .
    dockerfile: docker/Dockerfile


services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  api_and_orchestrator:
    <<: *base
    environment:
      SERVICE_NAME: dag-service
      SERVICE_TYPE: web
      REDIS_HOST: redis
    ports: [ "8000:8000" ]
    depends_on:
      - redis

  worker:
    <<: *base
    environment:
      SERVICE_NAME: dag-service
      SERVICE_TYPE: worker
      REDIS_HOST: redis
    depends_on:
      - redis

  worker2:
    <<: *base
    environment:
      SERVICE_NAME: dag-service
      SERVICE_TYPE: worker
      REDIS_HOST: redis
    depends_on:
      - redis

volumes:
  redis_data:
